@model IEnumerable<MonsterMVC.Domain.Data.ActiveMonster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Encounter.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monster.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAlive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Encounter.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monster.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAlive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
